<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
        <div class="message">{{ message }}</div>
        <div>{{ table_navigation }}</div>
        <div>{{ table_panel }}</div>
        <div class="create-panel">
            {{ create_form }}
        </div>
    </body>
</html>
