<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
        <div class="message">{{ message }}</div>

        <div class="buttons">
            <a class="table-link active" href="/">Home</a>
            <a class="table-link" href="/users">Users</a>
            <a class="table-link" href="/api/user/all">Users API</a>
        </div>
    </body>
</html>
